<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

	<th:block layout:fragment="content">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Your (fake) orders</h2>
					</div>
				</div>

				<div class="row mb-5 justify-content-center">
					<form th:action="@{/orders}" method="POST">
						<input type="number" name="quantity" required min="0" />
						<button class="btn btn-primary" type="submit">Purchase!</button>
					</form>
				</div>

				<div class="row justify-content-center" th:if="${#lists.isEmpty(orders)}">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section text-secondary">You didn't ordered anything yet</h2>
					</div>
				</div>

				<div class="row" th:unless="${#lists.isEmpty(orders)}">
					<div class="row justify-content-center mb-5" style="position: relative; height: 300px; width: 300px; margin: 0 auto;">
						<canvas id="orderStatusDoughnutChart"></canvas>
					</div>

					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-responsive-xl">
								<thead>
									<tr>
										<th>ID</th>
										<th>Creation Date</th>
										<th>Status</th>
										<th>Processed Date</th>
									</tr>
								</thead>
								<tbody>
									<tr class="alert" role="alert" th:each="order : ${orders}">
										<td th:text="${order.id}">123456</td>
										<td th:text="${#dates.format(order.creationDate, 'MM/dd/yyyy')}">MM/dd/yyyy</td>
										<td class="status">
											<span th:text="${order.status.description}" th:style="|
											color: rgb(${order.status.color.red}, ${order.status.color.blue}, ${order.status.color.green});
											background: rgba(${order.status.color.red}, ${order.status.color.blue}, ${order.status.color.green}, 0.1);
											border-radius: 30px;
											padding: 4px 10px 4px 10px;
											|">Status</span>
										</td>
										<td th:text="${order.processedDate != null ? #dates.format(order.processedDate, 'MM/dd/yyyy') : '--'}">MM/dd/yyyy</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>

</html>